tax-extension-xapi/src/main/app/tax-extension-xapi-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="tax-extension-xapi-impl">
   		<choice doc:name="Choice">
            <when expression="#[flowVars.transactionid == empty]">
                <set-variable variableName="transactionId" value="#[java.util.UUID.randomUUID().toString()]" doc:name="Set Transaction ID"/>
            </when>
            <otherwise>
                <logger message="Transaction ID Exists" level="TRACE" doc:name="Logger"/>
            </otherwise>
        </choice>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	transactionId: flowVars.transactionId,
	encSsn: payload.encSsn,
	userId: payload.userId,
	createDate: now as :string {format: "yyyy-MM-dd-HH:mm:ss"}
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="tax-extension-papi-request" path="tax/extensions" method="POST" doc:name="HTTP">
            <http:success-status-code-validator values="200"/>
        </http:request>

    </flow>
</mule>
